

html {
	scroll-behavior: smooth;
	font-size: 24pt;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	min-width: 320px;
	min-height: 100vh;
	line-height: 1.0;
	word-wrap: break-word;
	overflow-x: hidden;
	background-color: #FEFCFE;
	scrollbar-width: none;
}


@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


strong {
	color: inherit;
	font-weight: bolder;
}

code {
	font-family: 'Lucida Console', 'Courier New', monospace;
	font-weight: normal;
	text-indent: 0;
	letter-spacing: 0;
	font-size: 0.9em;
	margin: 0 0.25em;
	padding: 0.25em 0.5em;
	background-color: #363636;
	border-radius: 0.25em;
	color: #FFFFFF
}

#text01 {
	text-align: center;
	color: #121212;
	font-family: 'Space Mono', monospace;;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 0.875em;
	line-height: 1.5;
	font-weight: 400;
}

#toc {
	text-align: right;
	color: #121212;
	font-family: 'Space Mono', monospace;;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 0.875em;
	line-height: 2.5;
	font-weight: 400;
	padding-right: 1rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
#tocc {
	text-align: center;
	color: #121212;
	font-family: 'Space Mono', monospace;;
	letter-spacing: 0.1rem;
	width: calc(100% + 0.05rem);
	font-size: 15pt;
	line-height: 2.5;
	font-weight: 400;
	padding-right: 1rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#tocc a {
	padding-left: 1em;
	padding-right: 1em;
	text-decoration: none;
}
#tocc a:visited {
	padding-left: 1em;
	padding-right: 1em;
	text-decoration: none;
	color: #0000EE;
}
#homebutton {
	display: none;
	position: relative;
	bottom: 20px;
	right: 100em;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #000000;
	color: #121212;
	cursor: pointer;
	padding: 15px;
}
  
#homebutton:hover {
	background-color: #555;
}
#social {
	text-align: center;
	color: #121212;
	font-family: 'Space Mono', monospace;;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 0.875em;
	line-height: 2.5;
	font-weight: 400;
	padding-right: 1rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#text {
	text-align: center;
	color: #121212;
	font-family: 'Space Mono', monospace;;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 0.875em;
	line-height: 2.5;
	font-weight: 400;
	padding-right: 1rem;
}

#toptext {
	text-align: center;
	color: #121212;
	font-family: 'Space Mono', monospace;;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 0.675em;
	line-height: 1.5;
	font-weight: 400;
	padding-top: 2rem;
}


#toptext a:visited {
	color: #0000EE;
}


#toptextsmaller {
	text-align: center;
	color: #121212;
	font-family: 'Space Mono', monospace;;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 0.775em;
	line-height: 1.5;
	font-weight: 400;
	padding-top: 1rem;
	padding-bottom: 1em;
}

#toptextsmaller a:visited {
	color:#0000EE;
}

#toptextsmallest {
	text-align: center;
	color: #121212;
	font-family: 'Space Mono', monospace;;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 0.575em;
	line-height: 1.5;
	font-weight: 400;
	padding-top: 1rem;
	padding-bottom: 1em;
}


#gifcontainer{
    width: 400px;
    background: yellow;
}
#floatedgif{
    justify-content: center;
    width: 150px;
    background: red;
}

#bottomtext {
	text-align: center;
	color: #f5f4f2;
	font-family: 'Space Mono', monospace;;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 0.875em;
	line-height: 1.5;
	font-weight: 400;
	padding-top: 1rem;
	padding-bottom: 5rem;
}


.topbar {
	align-content: center;
	align-self: center;
	text-align: center;
	vertical-align: top;
	line-height: 0%;
	margin: 0%;
	padding: 0%;
	
}

.midpanel {
	align-content: center;
	align-items: center;
	align-self: center;
	text-align: center;
	padding-top: 5em;
}

.midpanel_inner  {
	align-content: center;
	align-items: center;
	align-self: center;
	text-align: center;
	
	
}

#title {
	position: absolute;
	align-self: center;
	text-align: center;
	bottom: 75%;
	left: 15%;
}


.midpanel_inner > img {
	position:relative;
	border: rgb(15, 26, 95);
	border-radius: 15px;
	border-style: solid;
	border-width: 2px;
	background-color: rgba(21, 35, 123, 0.45);
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.589));
}


.underbar {
	align-self: center;
	vertical-align: top;
	line-height: 0%;
	margin: 0%;
	padding: 0%;
	
}


.links {
	cursor: default;
	padding: 0;
	line-height: 1;
}

.row {
	display: flex;
	align-content: center;
}

.column {
	flex: 33.33%;
	padding-bottom: 4rem;
	padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	text-align: center;
}

#music-stream {
	margin-left: -0.5rem;
	width: calc(100% + 1.05rem);
	font-family: 'Space Mono', monospace;;
	letter-spacing: 0.05rem;
	font-size: 1em;
	font-weight: 400;
	text-align: right;
	padding-right: 1rem;
}

#desc {
	text-align: center;
	color: #121212;
	font-family: 'Space Mono', monospace;;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 0.4em;
	line-height: 1.5;
	font-weight: 400;
	position: relative;
}

#music-stream a {
	color: #919191;
	text-decoration: none;
}

#music-stream a:hover {
	text-decoration: underline;
}
.italic {
	font-style: italic;
  }



#links {
	margin-left: -0.5rem;
	width: calc(100% + 1.05rem);
	font-family: 'Space Mono', monospace;;
	letter-spacing: 0.05rem;
	font-size: 1em;
	font-weight: 400;
	text-align: center;
	padding-right: 1rem;
	padding-top: 0.15rem;
	padding-bottom: 0.15rem;
}

#links li {
	display: inline-block;
	vertical-align: middle;
	margin: 0.5rem;
}

#links a:visited {
	color:#0000EE;
}

#links a {
	text-decoration: none;
}

#links li a:hover {
	text-decoration: underline;
}

.album  {
	flex: 33.33%;
	padding-bottom: 4rem;
	padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	text-align: center;
	
}
.album img {
	border: 0.1em solid rgb(0, 0, 0);
	
}

.row {
	display: flexbox;
	align-content: center;
	font-family: 'Space Mono', monospace;;
	font-size: 15pt;
	font-weight: 100;
	color: #121212;
}

#audio {
	display: flex;
	justify-content: center;
}

audio {
	width: 7rem;
	height: 75px;
}

.banner {
  width: 100%;
  height: 125px;
  background-position: center;
  padding-top: 0.5em;
}

/* mobile support */

@media (max-width:736px) {
	html {
		font-size: 15pt;
	}
	#text01,
	#text02 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 0.875em;
		line-height: 2;
		padding-right: 1rem;
	}
	#text02:not(:first-child) {
		margin-top: 1.125rem !important;
	}
	#text02:not(:last-child) {
		margin-bottom: 1.125rem !important;
	}
	#text02 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 0.875em;
		line-height: 1rem;
		padding-right: 1rem;
	}
	#music-stream {
		margin-left: -0.5rem;
		width: calc(100% + 1.04375rem);
		letter-spacing: 0.04375rem;
		font-size: 1em;
	
	}

}




::-webkit-scrollbar {
	display: none;
}

